---
import Layout from "../layouts/Layout.astro";
import "./../styles/404.css";
---

<Layout title="Page not found">
  <h1>Página no encontrada - 404</h1>
  <p class="zoom-area"><b>¡Oh no!</b> Nos perdimos, será mejor que volvamos.</p>
  <section class="error-container">
    <span class="four"><span class="screen-reader-text">4</span></span>
    <span class="zero"><span class="screen-reader-text">0</span></span>
    <span class="four"><span class="screen-reader-text">4</span></span>
  </section>
  <div class="link-container">
    <a href="/" class="more-link">Volver al inicio!</a>
  </div>
</Layout>
