---
import CustomTitle from "../components/CustomTitle.astro";
import Layout from "../layouts/Layout.astro";

const title = "About Page";
---

<Layout title={title}>
  <h1>About</h1>
  <CustomTitle title="Mensaje custom" />
</Layout>
