---
import Layout from "../layouts/Layout.astro";

const name = "KnoxKnox";
const title = "Home Page";
---

<Layout title={title}>
	<h1>{name}</h1>
	<p id="current-time"></p>

	<script>
		const par = document.querySelector("#current-time") as HTMLElement;
		const currentMoment: string = new Date().toLocaleTimeString();
		par.innerText = `Hora: ${currentMoment}`;
	</script>
</Layout>
