---
import { ClientRouter } from "astro:transitions";
import { siteInfo } from "src/utils/site-info";

interface Props {
	title?: string;
	image?: string;
	desc?: string;
}

const {
	title = siteInfo.title,
	desc = siteInfo.description,
	image,
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={"KnoxKnox"} />

		<meta name="description" content={desc} />
		<meta property="og:title" content={title} />
		<meta property="og:image" content={image} />
		<title>{title}</title>

		<ClientRouter />
	</head>
	<body class="bg-slate-800 text-slate-100 m-auto max-w-3xl">
		<main class="mt-10">
			<slot />
		</main>
	</body>
</html>
